<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Jaldi' rel='stylesheet'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <meta name=”x-apple-disable-message-reformatting”>
    </head>
    <body>
        <div style="width: 100%; background-color: #FFFFFF; display: block; margin-left: auto; margin-right: auto; max-width: 1000px; font-family: 'Lato', sans-serif; font-size: 1.25em;">
            <!-- Banner -->
            <div style="width: 100%;">
                <img style="max-width:100%; max-height:100%;" alt="reperio-color-bar" src="{{host}}/reperio-bar.png">
            </div>
            <div style="padding-top: 2em; border-left: 2px solid #D7D7D7; border-bottom: 2px solid #D7D7D7; border-right: 2px solid #D7D7D7;">
                <!-- Introduction Text-->
                <div style="margin-left: auto; margin-right: auto; width: 80%; display: block; text-align: left; text-decoration: none; color: #646565;">
                    <p><span style="margin-bottom: -0.5em; font-family: 'Jaldi', sans-serif; color: #4178B7; font-size: 1.75em;"><b>Hello,</b></span><br>
                    You have a new message from {{from}}.</p>
                </div>

                <!-- Message -->
                <div style="margin-top: 2em; width: 95%; border: 2px solid #C57A32; text-align: left; margin-left: auto; margin-right: auto; margin-bottom: 1em;">
                    <!-- Message Header -->
                    <div style="text-align: center; color: #FFFFFF; background-color: #F19437; padding-top: 0.1em; padding-bottom: 0.1em; font-size: 1.5em; font-family: 'Barlow Condensed', sans-serif;">YOUR MESSAGE:</div>

                    <!-- Message Body -->
                    <div style="width: 85%; margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 0.5em;">{{contents}}</div>

                    <!-- Message Media -->
                    <div style="width: 85%; margin-left: auto; margin-right: auto; text-align: center;">
                        {{media}}
                    </div>
                    
                    <!-- Message Footer -->
                    <div style="width: 85%; margin-top: 1em; margin-bottom: 2em; margin-left: auto; margin-right: auto; font-size: 0.75em;"><b>Received:</b> {{date}}.</div>
                </div>
            </div>
            <!-- Footer -->
            <div style="width: 100%; margin-left: auto; margin-right: auto; max-width: 1000px; background-color: #D7D7D7;">
                <div style="width: 95%; margin-left: auto; margin-right: auto; padding-bottom: 0.5em; padding-top: 0.5em; font-size: 0.75em;">Reper.io / 513-780-5960 / support@reper.io</div>
            </div>
        </div>
    </body>
</html>